header{
    background: #BBBBBB;
    padding: 10px;
        
}
#titulo_principal{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
#logo{
    position: relative;
    max-width:350px;
    max-height:100px;
    top: -20px;
    
}
.caixamenu{
    width: 940px;
    margin: 0 auto;

}

nav{
    position: absolute;
    top: 150px;
    right: 50px; ;
    
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#972424;
    text-decoration: underline;
}
.banner{
    width: 100%;
    height: 400px;
    background: url("imagens/banner.jpg");
}
.pagservicos{
    font-family: Helvetica;
    
}
.pagsobre{
    font-family: helvetica;
}
.pagcontato{
    font-family: helvetica;
}
.pdosobre{
    text-align: justify;
    font-family: helvetica;
    font-size: 12px;
    text-indent: 20px;
}
#imgservicos{
    position: relative;
    float: right;
    max-width:350px;
    max-height: 250px;
    padding: 10px;
    
    
  
}   
.desc_servicos{
    text-align: justify;
    margin-right: 50%;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}



